* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(155, 180, 202);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    width: 960px;
    height: 960px
}

.line {
    display: flex;
}


.cell {
    /*border: 1px solid black;*/
    background-color: rgb(255, 255, 255);
}

#colorPicker {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    width: 960px;
    height: 60px;
}

.colors {
    width: 60px;
    height: 60px;
}

.colorWhite {
    background-color: white;
}

.colorBlack {
    background-color: black;
}

.colorBlue {
    background-color: #27b7de;
}

.colorRed {
    background-color: #c64343;
}

.colorYellow {
    background-color: #f2dc23;
}

.colorCrimson {
    background-color: crimson;
}

.colorDarkblue {
    background-color: darkblue;
}

.colorGray {
    background-color: gray;
}

.colorGold {
    background-color: gold;
}

.colorGreen {
    background-color: green;
}

.colorOrange {
    background-color: orange;
}

.colorPurple {
    background-color: purple;
}